Flask==2.0.2
matplotlib>=3.5.0
numpy>=1.2.0
pandas>=1.3.0,<=1.4.1
pytangle>=0.0.1
python_dateutil>=2.0.0
PyYAML>=4.0
requests>=2.0.0
requests_oauthlib>=1.0.0
seaborn>=0.1.0
tweepy>=4.0.0
exportcomments>=0.0.1
loguru>=0.0.1
envyaml>=0.0.1