<!doctype html>

<head>
  <title>Request Extraction</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<html>

<body>
  <main>
    <div class="px-4 py-3 my-2 text-center">
      <h1 class="display-6 fw-bold text-primary">Welcome!</h1>
    </div>
    <form method="post" action="{{url_for('fetch')}}" id="extraction_form">
      <div class="col-md-6 mx-auto text-center">
        <label for="extraction_type" class="form-label fw-bold fs-5">Choose type of extraction:</label>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
          <select class="form-control" id="extraction_type" name="extraction_type" style="max-width: 256px;"
            form="extraction_form">
            <option value="tweet_keyword">Tweets by Keyword</option>
            <option value="tweet_location">Tweets by Location and Keyword</option>
            <option value="insta_post">Insta Posts by Keyword</option>
            <option value="fb_post">Facebook Posts by Keyword</option>
          </select>
        </div>
        <label for="start_date" class="form-label fw-italics fs-5">Select start date:</label>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
          <input type="date" class="form-control" id="start_date" name="start_date" style="max-width: 256px;">
        </div>
        <label for="end_date" class="form-label fw-italics fs-5">Select end date:</label>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center align-items-center my-1">
          <input type="date" class="form-control" id="end_date" name="end_date" style="max-width: 256px;">
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center my-2">
          <button type="submit" class="btn btn-primary btn-lg px-4 gap-3">Submit</button>
        </div>
      </div>
    </form>
  </main>
</body>

</html>